<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin add film</title>
    <div th:include="~{layouts/fragments/stylesBootstrap :: bootStrap }"></div>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/css/select2.min.css" rel="stylesheet" />
    <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.6-rc.0/js/select2.min.js"></script>
</head>
<body>
<div th:include="~{layouts/fragments/admin_nav :: adminNav}"></div>
<div class="container">
<form th:action="@{saveFilm}" th:object="${film}" method="POST">
    <div style="display: flex;">
        <div style="width: 50%">
            <label for="filmName">Название фильма</label>
            <input type="text" id="filmName" th:field="*{name}" placeholder="Film name" class="form-control mb-4 col-4"/>
            <label for="filmYear">Год выпуска фильма</label>
            <input type="number" id="filmYear" th:field="*{year}" placeholder="Film year" class="form-control mb-4 col-4"/>
            <label for="filmLength">Длительность фильма</label>
            <input type="number" id="FilmLength" th:field="*{length}" placeholder="Film length" class="form-control mb-4 col-4"/>
            <label for="filmDescription">Описание фильма</label>
            <input type="text" id="filmDescription" th:field="*{description}" placeholder="Film description" class="form-control mb-4 col-4"/>
            <label for="filmPicture">Путь к картинке фильма</label>
            <input type="text" id="filmPicture" th:field="*{pictureUrl}" placeholder="Film picture path" class="form-control mb-4 col-4"/>
        </div>
        <div style="width: 50%; display: flex; flex-direction: column">
            <br>
            <button style="height: 50px; width: 200px; margin-left: 150px;" disabled="disabled" class="btn btn-outline-primary">Страны фильма
            </button>
            <select class="js-example-basic-multiple" style="width: 500px" name="countryName[]" multiple="multiple" th:size="${countryList.size()}">
                <option name="countryName" th:each="countrie : ${countryList}" th:text="${countrie.name}"></option>
            </select>
            <br>
            <button style="height: 50px; width: 200px; margin-left: 150px;" disabled="disabled" class="btn btn-outline-primary">Жанры фильма
            </button>
            <select class="js-example-basic-multiple" style="width: 500px;" name="genreName[]" multiple="multiple" th:size="${genreList.size()}">
                <option name="countryName" th:each="genre : ${genreList}" th:text="${genre.name}"></option>
            </select>
            <br>
            <button style="height: 50px; width: 200px; margin-left: 150px;" disabled="disabled" class="btn btn-outline-primary">Режисёры фильма
            </button>
            <select class="js-example-basic-multiple" style="width: 500px" name="producerName[]" multiple="multiple" th:size="${producerList.size()}">
                <option name="producerName" th:each="producer : ${producerList}" th:text="${producer.name}"></option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-info col-2">Add Film</button>
</form>
</div>
<script>
    $(document).ready(function() {
        $('.js-example-basic-multiple').select2({
            tags: true
        });
    });
</script>

</body>

</html>