<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>BosFilm</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <div th:include="~{layouts/fragments/stylesBootstrap :: bootStrap}"></div>
</head>
<body>
<div th:include="~{layouts/fragments/nav :: navBar}"></div>
<div class="container">
    <div class="row" style="margin-left: 0px ;margin-bottom: 10px">
            <form th:action="@{/searchAndSort}" method="GET">
                <input th:if="${order}" type="hidden" name="order" th:value="${true}">
                <input th:if="${!order}" type="hidden" name="order" th:value="${false}">
                <input type="hidden" id="inputSearch" name="searchString" value="">
                <button type="submit" id="onclick" onclick="myFunc();saveF()" class="btn btn-outline-primary">Сортировка по названию</button>
            </form>
            <form th:action="@{/searchAndSortByLength}" method="GET">
                <input th:if="${order}" type="hidden" name="order" th:value="${true}">
                <input th:if="${!order}" type="hidden" name="order" th:value="${false}">
                <input type="hidden" id="inputSearch2" name="searchString" value="">
                <button type="submit" id="onclick2" onclick="myFunc();saveF()" class="btn btn-outline-primary">Сортировка по длительности</button>
            </form>
    </div>
</div>
<div class="container">
    <div class="row" style="right: -100px; width: 110%">
        <div class="col-md-4" th:each="film : ${filmList}">
            <div class="card mb-4 box-shadow">
                <img class="card-img-top" style="width: content-box; height: 462px;"
                     th:src="@{../images/{image}(image=${film.pictureUrl})}">
                <div class="card-body">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a style="text-align: center" th:href="@{/filmDetails/{id} (id = ${film.id})}">
                                <button style="height: 51px" type="button" th:text="${film.name}"
                                        class="btn btn-sm btn-outline-secondary"></button>
                            </a>

                            <div sec:authorize="isAuthenticated()" th:each="user : ${userList}">
                                <div th:if="${#authentication.name == user.username}">
                                    <div th:if="${user.getFilms().contains(film)}">
                                        <button style="height: 51px" disabled="disabled" class="btn btn-sm btn-outline-secondary">Добавлено
                                        </button>
                                    </div>
                                    <div th:if="${!user.getFilms().contains(film)}">
                                        <form th:action="@{/addFilm/{name}(name=${#authentication.name})}"
                                              method="POST">
                                            <input type="hidden" name="filmId" th:value="${film.id}">
                                            <button style="height: 51px" type="submit" class="btn btn-sm btn-outline-secondary">Добавить
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <small style="float: right" id="hours" class="text-muted"
                               th:text="${film.length}+':мин./'"></small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="~{layouts/fragments/footer :: copy}"></div>
<div th:replace="~{layouts/fragments/anchor :: anchor}"></div>
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>
<script>
    var textStrings = document.getElementsByClassName('text-muted');
    for (var i = 0; i < textStrings.length; i++) {
        var text = textStrings[i].textContent;
        var minutes = parseInt(text.match(/\d+/));
        var remainderMinutes = minutes % 60;
        if (remainderMinutes > 10)
            var remainder = remainderMinutes;
        else
            var remainder = "0" + remainderMinutes;
        var hourString = "0" + (minutes / 60 >> 0) + ":" + remainder;
        textStrings[i].append(hourString);
    }
</script>
<script>
    saveF = function () {
        var elements = document.querySelectorAll('input, textarea');
        for (i = 0; i < elements.length; i++) {
            (function (element) {
                var id = element.getAttribute('id');
                if (id == "searchStringNav")
                localStorage.setItem(id, element.value);
            })(elements[i]);
        }
    }
    function load() {
        var elements = document.querySelectorAll('input, textarea');
        for (i = 0; i < elements.length; i++) {
            (function (element) {
                var id = element.getAttribute('id');
                if (id == "searchStringNav")
                element.value = localStorage.getItem(id);
            })(elements[i]);
        }
    }
        load();
    localStorage.clear();
</script>
<script>
    myFunc = function () {
        if (document.getElementById("searchStringNav").value != ""){
            var inputText = document.getElementById("searchStringNav").value;
            document.getElementById("inputSearch").value=inputText;
            document.getElementById("inputSearch2").value=inputText;
        }
    }
    clearFunc = function() {
        localStorage.clear();
    }
</script>
</body>
</html>


