<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <title>Admin producers</title>
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <div th:include="~{layouts/fragments/stylesBootstrap :: bootStrap}"></div>
</head>
<body>
<div th:include="~{layouts/fragments/admin_nav :: adminNav}"></div>
<div class="container">
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="producer : ${producerList}">
        <th scope="row" class="numberCount"></th>
        <td th:text="*{producer.name}"></td>
        <td>
            <a th:href="@{editProducer/{id}(id=${producer.id})}">
                <button type="button" class="btn btn-outline-warning">
                    Edit
                </button>
            </a>
        </td>
        <td>
            <a th:href="@{deleteProducer/{id}(id=${producer.id})}">
                <button type="button" class="btn btn-outline-danger">
                    Delete
                </button>
            </a>
        </td>
    </tr>
    </tbody>
</table>
<a th:href="@{addProducerForm}">
    <button type="button" class="btn btn-outline-success">Добавить режиссёра</button>
</a>
</div>
<script>
    var counter = document.getElementsByClassName('numberCount');
    for (var i=0; i<counter.length+1; i++){
        var j=i+1
        counter[i].append(j.toString());
    }
</script>
</body>
</html>