<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://code.jquery.com/jquery-3.4.0.js"></script>
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/css/select2.min.css" rel="stylesheet"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.1/js/select2.min.js"></script>
</head>
<body>
<form th:action="@{/test}" method="post">
    <select class="js-example-basic-multiple" name="test[]" size="3" multiple="multiple">
        <option class="select_option" id="1" name="test" value="1">один</option>
        <option class="select_option" id="2" name="test" value="2">два</option>
        <option class="select_option" id="3" name="test" value="3">три</option>
    </select>
    <button type="submit">отправить</button>
</form>

<script type="text/javascript">
    $(document).ready(function () {
        $('.js-example-basic-multiple').select2();
    });
</script>
</body>
</html>

